.contactmoment
  @extend %container

  > .company, > .contact, > .product
    @extend %container-item
    width: 30%

  > .expand-action
    @extend %container-item
    width: 10%

.contactmoment
  border-bottom: 1px solid $custom-grey
  padding: 5px

  > .expand-action
    text-align: right
