.headers
  @extend %container

  > .header
    @extend %container-item
    width: 30%

.headers
  background-color: $custom-grey
  border-bottom: 2px solid $custom-dark-grey

  > .header
    text-transform: uppercase
    font-size: 18px
