.navigation
  @extend %container-item
  width: 20%
  height: 80vh

  > .logo
    width: 100%

  > .navigation-items > .navigation-item
    @extend %container

    > .navigation-icon
      @extend %container-item

.navigation > .navigation-items
  padding-top: 40px

  > .navigation-item
    padding: 10px

    > .navigation-icon
      @extend .icon
      color: $custom-white
      background-color: $custom-green
