.title-block
  @extend %container

  > .title
    @extend %container-item
    width: 90%

  > .add
    @extend %container-item
    width: 10%

.title-block
  padding: 15px

  > .title, > .add
    text-transform: capitalize
    font-size: 30px

  > .add
    text-align: right
