!!!
%html
  %head
    %title= t('.title')
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    - if Rails.application.config.x.webpack_dev_server
      = javascript_include_tag Rails.application.config.x.webpack_dev_server
        
  %body
    = yield
